html, body {
  max-width: 100%;
  overflow-x: hidden; 
}

body {
  display: block;
  background-color: black;
  margin-top: 10vh;
}
@font-face {
            font-family: 'GamerPixelFont';
            src: url('/assets/font/PixelGamer-Regular.otf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.project-section{
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
}
.container {
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  opacity: 0; 
}
.container.animate {
  animation: fadeInUp 2s ease-in forwards;
}
.project-hero-wrapper {
  flex-flow: row;
  justify-content: center;
  display: flex;
  position: relative;
  align-items: center;
}

.project-title-wrap {
    position: absolute;
    overflow: hidden;
    
}

.project-title {
    font-family: 'GamerPixelFont', Courier, monospace;
    color: #fff;
    font-size: 2em; 
}

.project-img-hero-wrap {
    z-index: -1;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.project-hero-img {
    z-index: -1;
    object-fit: cover;
    width: 100%;
    max-height: 55vh;
}

.button-home-container{
  width: 100vw;
  height: 10vh;
  display: flex;
  position:fixed;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 0;
}

.project-img-overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, .55);
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.project-info-wrapper{
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  width: 50%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}
.project-name-job-hero-wrap{
  display: flex;
  flex-direction: column;
  grid-column-gap : 6px;
  grid-row-gap:18px;
}
.project-info-supp-hero-wrap{
  display: flex;
  flex-direction: column;
  grid-column-gap : 6px;
  grid-row-gap:18px;
}

.text-project-info {
    font-family: "Chivo Mono", monospace,'GamerPixelFont', Courier, monospace;
    color: #fff;
    font-size: 1.3em;
    
}
.text-project-info-tall {
    font-family: "Chivo Mono", monospace,'GamerPixelFont', Courier, monospace;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    
}

.logo-info-wrapper{
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 50%;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}
.logo-hero-wrap{
  display: flex;
  flex-direction: column;
  grid-column-gap : 6px;
  grid-row-gap:18px;
  align-items: center;
  justify-content: center;
}
.logo1-hero-img{
  width: 75%;
}
.logo2-hero-img{
  width: 50%;
}

.button-more-info{
  display: flex;
}
.menu-item {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 5px;
    border-radius: 50%;
    background-color: #2600ff;
    transform: translate(0px, 0px);
    z-index: 1;
    margin-right: 1em;
}
.menu-item.non-clickable {
    background-color: #999999; 
    cursor: default; 
    pointer-events: none;
}
.menu-item:hover .tooltip {
        opacity: 1;
        transform: translate(-50%, 0);
    }
.tooltip {
    font-family: 'GamerPixelFont';
        position: absolute;
        left: 50%;
        bottom: 100%;
        opacity: 0;
        margin-bottom: 1em;
        padding: 1em;
        background-color: #ffffff;
        color: #000000;
        font-size: 12px;
        line-height: 1.6;
        text-align: left;
        white-space: nowrap;
        border-radius: 4px;
        transform: translate(-50%, 1em);
        transition: all .15s ease-in-out;
        z-index: 1000;
        pointer-events: none;
    }

    .tooltip::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        border: .5em solid transparent;
        border-top-color: #ffffff;
        transform: translate(-50%, 0);
    }


.menu-item a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
/* Animation */
@keyframes btn-glow {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 300%;
  }
}

/* Button */
.btn {
  position: relative;
  display: inline-block;
  border-radius: 999em;
  color: white;
  font: 500 20px / 1 "Chivo Mono", monospace;
  letter-spacing: 0.075em;
  text-decoration: none;
  text-transform: uppercase;
}

.btn__inner {
  padding: 1px;
  position: relative;
  z-index: 2;
  display: block;
  overflow: hidden;
  border-radius: inherit;
}

.btn__inner::before {
  text-align: center;
  position: absolute;
  inset: 4px;
  z-index: 1;
  display: block;
  animation: btn-glow 5s infinite linear;
  background: linear-gradient(
      20deg,
      #00f8f1,
      #ffbd1e20 16.5%,
      #fe848f 33%,
      #fe848f20 49.5%,
      #00f8f1 66%,
      #00f8f160 85.5%,
      #ffbd1e 100%
    ) 0 100% / 100% 200%;
  border-radius: inherit;
  filter: blur(5px);
  mix-blend-mode: overlay;
  opacity: 0;
  transition: opacity 0.2s linear 0.1s;
  content: "";
}

.btn__label {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0.95em 2em 0.9em;
  border-radius: inherit;
  color: transparent;
  white-space: nowrap;
}

.btn__label::before,
.btn__label::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  padding: inherit;
  width: 100%;
  height: 100%;
  color: white;
  white-space: nowrap;
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1) 0s;
}

.btn__label::before {
  transform: translate3d(0, 0, 0);
  content: attr(data-label);
}

.btn__label::after {
  transform: translate3d(0, -100%, 0);
  content: attr(data-hover);
}

.btn__label__background {
  position: absolute;
  inset: -100px;
  display: block;
  background: #093740 url("https://assets.codepen.io/5817405/noise_2.png");
  background-blend-mode: overlay;
  animation: noise-background 0.5s steps(1) infinite;
}

.btn__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.btn__background::before,
.btn__background::after {
  position: absolute;
  inset: 0;
  display: block;
  border-radius: inherit;
  content: "";
}

.btn__background::before {
  background: white;
  transition: background 0.3s linear 0s;
}

.btn__background::after {
  animation: btn-glow 5s infinite linear;
  background: linear-gradient(
      -20deg,
      #00f8f1,
      #00f8f120 16.5%,
      #00f8f1 33%,
      #00f8f110 49.5%,
      #00f8f1 66%,
      #00f8f100 85.5%,
      #00f8f1 100%
    ) 0 100% / 100% 200%;
  filter: blur(5px);
  opacity: 0;
  transition: opacity 0s linear 0s;
}

.btn:hover .btn__background::before {
  background: #4cede1;
  transition: background 0.07s linear;
}

.btn:hover .btn__background::after {
  opacity: 1;
  transition: opacity 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
}

.btn:hover .btn__inner::before {
  opacity: 0.5;
}

.btn:hover .btn__label::before,
.btn:hover .btn__label::after {
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(1, -0.6, 0, 1.6);
}

.btn:hover .btn__label::before {
  transform: translate3d(0, 100%, 0);
}

.btn:hover .btn__label::after {
  transform: translate3d(0, 0, 0);
}
